<div>Zadania</div>
<div>Wartość zmiennej zmiennej liczbowej: {{poleTypuLiczbowego}}</div>
<div>Wartość zmiennej zmiennej liczbowej: {{poleTypuTekstowego}}</div>

<table>
  <thead>
  <th>L.p.</th>
  <th>Wartość elementu</th>
  <th>Liczba znaków elementu</th>
  </thead>
  <tbody>
  <tr *ngFor="let element of tablicaTesktowa; let counter = index">
    <td>{{counter+1}}</td>
    <td>{{element}}</td>
    <td>{{element.length}}</td>
  </tr>
  </tbody>
</table>
<p>
  Tu będzie opcjonalnie element:
  <span *ngIf="poleTypuLiczbowego > 7 && tablicaTesktowa.length > 2">Wartość pola liczbowego jest większa od 7 a tablica jest większa od 2</span>
</p>
<p>
  Tu będzie opcjonalnie element:
  <span *ngIf="isTrue(poleTypuLiczbowego, tablicaTesktowa)">Wartość pola liczbowego jest większa od 7 a tablica jest większa od 2 (metodą)</span>
</p>
<div>
  <app-greeting *ngFor="let element of tablicaImion" [name]="element"></app-greeting>
</div>
<!-- *ngFor="let element of tablicaTesktowa" -->
